@page
@model Flashcards.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <a class="btn btn-primary" asp-page="/AddFlashcard">Add Flashcard</a>
</div>
<div class="text-center">
    <h1 class="display-4">Flashcards</h1>
    <div>
        @foreach (var flashcard in Model.Flashcards)
        {
            <div class="flashcard">
                <h2>@flashcard.Title</h2>
                <p>@flashcard.Description</p>
                <button class="btn btn-primary" onclick="runRepo('@flashcard.Id')">Start Coding!</button>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        function runRepo(fid) {
            fetch(`/?handler=RunRepoAsync`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id : fid }) // Pass repoPath as JSON
            }).then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            }).then(data => {
                console.log(data); // Handle success response if needed
            }).catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
}